h1 Users

p
  a(href="/users/new") Create new profile

ul
  - for(var username in users) {
    li
      a(href="/users/" + encodeURIComponent(username))= users[username].name
  - };

table
  caption Users
  thead
    tr
      th Name
      th Bio
  tbody
    - for(var username in users) {
      tr
        td
          a(href="/users/" + encodeURIComponent(username))= users[username].name
        td
          a(href="/users/" + encodeURIComponent(username))= users[username].bio
    - };
